In [17]:
import pandas as pd
import os
os.chdir("C://Users//Devyani//Downloads")
df=pd.read_csv("heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [18]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [19]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [20]:
y=df["target"]
df=df.drop(["target"],1)

In [21]:
categorical=df.drop(["age","trestbps","chol","thalach","oldpeak"],1)

In [22]:
categorical.head()

   sex  cp  fbs  restecg  exang  slope  ca  thal
0    1   3    1        0      0      0   0     1
1    1   2    0        1      0      0   0     2
2    0   1    0        0      0      2   0     2
3    1   1    0        1      0      2   0     2
4    0   0    0        1      1      2   0     2

In [25]:
numdf=df[["age","trestbps","chol","thalach","oldpeak"]]
numdf.head()

   age  trestbps  chol  thalach  oldpeak
0   63       145   233      150      2.3
1   37       130   250      187      3.5
2   41       130   204      172      1.4
3   56       120   236      178      0.8
4   57       120   354      163      0.6

In [26]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
cols=list(numdf) 
numdf=scaler.fit_transform(numdf)
numdf=pd.DataFrame(numdf,columns=cols)
numdf.head()

C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

        age  trestbps      chol   thalach   oldpeak
0  0.708333  0.481132  0.244292  0.603053  0.370968
1  0.166667  0.339623  0.283105  0.885496  0.564516
2  0.250000  0.339623  0.178082  0.770992  0.225806
3  0.562500  0.245283  0.251142  0.816794  0.129032
4  0.583333  0.245283  0.520548  0.702290  0.096774

In [27]:
numdf["target"]=y

In [28]:
numdf.head()

        age  trestbps      chol   thalach   oldpeak  target
0  0.708333  0.481132  0.244292  0.603053  0.370968       1
1  0.166667  0.339623  0.283105  0.885496  0.564516       1
2  0.250000  0.339623  0.178082  0.770992  0.225806       1
3  0.562500  0.245283  0.251142  0.816794  0.129032       1
4  0.583333  0.245283  0.520548  0.702290  0.096774       1

In [31]:
df=pd.concat([numdf,categorical],1)
df.head()

,age,trestbps,chol,thalach,oldpeak,target,sex,cp,fbs,restecg,exang,slope,ca,thal
0,0.708333,0.481132,0.244292,0.603053,0.370968,1,1,3,1,0,0,0,0,1
1,0.166667,0.339623,0.283105,0.885496,0.564516,1,1,2,0,1,0,0,0,2
2,0.250000,0.339623,0.178082,0.770992,0.225806,1,0,1,0,0,0,2,0,2
3,0.562500,0.245283,0.251142,0.816794,0.129032,1,1,1,0,1,0,2,0,2
4,0.583333,0.245283,0.520548,0.702290,0.096774,1,0,0,0,1,1,2,0,2

In [33]:
X=df.drop(["target"],1)
y=df["target"]

In [37]:
y.head()
X.head()

,age,trestbps,chol,thalach,oldpeak,sex,cp,fbs,restecg,exang,slope,ca,thal
0,0.708333,0.481132,0.244292,0.603053,0.370968,1,3,1,0,0,0,0,1
1,0.166667,0.339623,0.283105,0.885496,0.564516,1,2,0,1,0,0,0,2
2,0.250000,0.339623,0.178082,0.770992,0.225806,0,1,0,0,0,2,0,2
3,0.562500,0.245283,0.251142,0.816794,0.129032,1,1,0,1,0,2,0,2
4,0.583333,0.245283,0.520548,0.702290,0.096774,0,0,0,1,1,2,0,2

In [38]:
from sklearn.feature_selection import RFE

In [39]:
from sklearn.linear_model import LogisticRegression
lin_reg = LogisticRegression()
#2 is features you want to take for 
features = RFE(lin_reg,3)
features.fit(X,y)
features.ranking_
features.support_
cols = list(X)
cols = pd.Series(cols)
cols[features.support_]

C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Janvi Acharya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

3    thalach
4    oldpeak
9      exang
dtype: object

In [40]:
selected_features=["thalach","oldpeak","exang"]

In [48]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.2,random_state=42)
#logistics
from sklearn.metrics import r2_score,mean_squared_error,median_absolute_error
from sklearn import metrics
from sklearn.linear_model import LogisticRegression,RidgeCV,LassoCV,ElasticNetCV
log_reg=LogisticRegression(multi_class="multinomial",solver='newton-cg').fit(X_train,y_train)
y_pred= log_reg.predict(X_test)
metrics.accuracy_score(y_pred,y_test)
metrics.confusion_matrix(y_pred,y_test)
#y_pred

array([[25,  6],
       [ 4, 26]], dtype=int64)

In [42]:
#with features
filter2=X[selected_features]
from sklearn.model_selection import train_test_split as tts
filter2_train,filter2_test,y_train,y_test=tts(filter2,y,test_size=0.2,random_state=42)
#logistics
from sklearn.metrics import r2_score,mean_squared_error,median_absolute_error
from sklearn import metrics
from sklearn.linear_model import LogisticRegression,RidgeCV,LassoCV,ElasticNetCV
log_reg=LogisticRegression(multi_class="multinomial",solver='newton-cg').fit(filter2_train,y_train)
y_pred= log_reg.predict(filter2_test)
metrics.accuracy_score(y_pred,y_test)
#metrics.confusion_matrix(y_pred,y_test)

0.7704918032786885

In [47]:
from sklearn.metrics import confusion_matrix
cm =confusion_matrix(y_test,y_pred)
cm

array([[21,  8],
       [ 8, 24]], dtype=int64)

In [43]:
#random forest
from sklearn.ensemble import RandomForestClassifier
regressor = RandomForestClassifier(n_estimators=20, random_state=0)  
regressor.fit(X_train, y_train)  
y_pred = regressor.predict(X_test) 
metrics.accuracy_score(y_pred,y_test)

0.8524590163934426

In [44]:
#random forest with features
from sklearn.ensemble import RandomForestClassifier
regressor = RandomForestClassifier(n_estimators=20, random_state=0)  
regressor.fit(filter2_train, y_train)  
y_pred = regressor.predict(filter2_test) 
metrics.accuracy_score(y_pred,y_test)

0.7377049180327869

In [45]:
y_pred

array([0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0], dtype=int64)

In [53]:
#Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion="entropy", random_state=42)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
metrics.accuracy_score(y_pred,y_test)

0.8360655737704918

In [50]:
from sklearn.metrics import confusion_matrix

In [51]:
cm =confusion_matrix(y_test,y_pred)

In [52]:
cm

array([[26,  3],
       [ 7, 25]], dtype=int64)

In [54]:
#with features
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion="entropy", random_state=42)
classifier.fit(filter2_train,y_train)
y_pred = classifier.predict(filter2_test)
metrics.accuracy_score(y_pred,y_test)

0.7540983606557377