In [25]:
import os
os.getcwd()
os.chdir("C://Users//Devyani//Downloads")
import pandas as pd
df=pd.read_csv("Model1csv.csv")
df.head()
import warnings
warnings.filterwarnings("ignore")

## Target- Closed

In [26]:
df.columns

Index(['id', 'ManamgementDimension', 'StrategicDimenision',
       'CustomerDimension', 'MarketDimension', 'FinanceDimension',
       'HRDimension', 'OperationalDimension', 'Industry_Vertical',
       'SubVertical', 'City', 'IndustryPerformance', 'CompetitiveLandscape',
       'InvestmentType', 'Invest_1st_Q_S', 'Year_of_Start', 'Empl_Cnt_Y1',
       'Closed'],
      dtype='object')

In [27]:
df = df.drop(["id"],1)

In [28]:
df.head()

,ManamgementDimension,StrategicDimenision,CustomerDimension,MarketDimension,FinanceDimension,HRDimension,OperationalDimension,Industry_Vertical,SubVertical,City,IndustryPerformance,CompetitiveLandscape,InvestmentType,Invest_1st_Q_S,Year_of_Start,Empl_Cnt_Y1,Closed
0,9,8,7,8,7,6,6,Consumer Internet,Online / Mobile Food Ordering platform,Bengaluru,High,Low,Angel / Seed Funding,5 Crore and Above,2016,Above 25,0
1,7,7,6,7,7,6,5,Consumer Internet,inter-city cab aggregator,New Delhi,Medium,High,Angel / Seed Funding,5 Crore and Above,2015,Above 25,0
2,9,9,5,4,7,6,6,Consumer Internet,Online Furnishing Rental Platform,Gurgaon,High,Medium,Angel / Seed Funding,5 Crore and Above,2015,Above 25,0
3,6,9,4,6,7,6,5,Consumer Internet,Online Bike & Car Services provider,Chennai,Medium,High,Angel / Seed Funding,2 - 5 Crores,2015,between 10 to 15,0
4,6,7,6,5,7,6,7,Consumer Internet,Fresh Food Delivery platform,Bengaluru,Medium,High,Debt Funding,5 Crore and Above,2014,Above 25,0

In [29]:
import numpy as np
numerical = df.select_dtypes(include = np.number)
categorical = df.select_dtypes(exclude = np.number)

In [30]:
for x in list(categorical):
    categorical[x] = categorical[x].str.lower()

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le = LabelEncoder()

In [33]:
for x in list(categorical):
    categorical[x] = le.fit_transform(categorical[x])

In [34]:
numerical["age"] = 2019 - df["Year_of_Start"]

In [35]:
numerical = numerical.drop(["Year_of_Start"],1)

In [36]:
df=pd.concat([numerical,categorical],1)

In [42]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

In [38]:
df["Closed"] = le.fit_transform(df["Closed"])

In [39]:
X = df.drop(["Closed"],1)
y = df["Closed"]

In [47]:
import numpy as np
params = {"criterion":["gini", "entropy"],
        "max_depth":np.arange(2,20), 
         "min_samples_split":np.arange(0.01,0.2, 0.01)}

In [48]:
from  sklearn.model_selection import GridSearchCV
dtc_cv = GridSearchCV(dtc, param_grid=params, cv = 10)

In [49]:
dtc_cv.fit(X,y)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['gini', 'entropy'], 'max_depth': array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19]), 'min_samples_split': array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [50]:
dtc_cv.best_params_

{'criterion': 'gini', 'max_depth': 2, 'min_samples_split': 0.09}

In [51]:
dtc_cv.best_score_

0.5911290322580646

In [52]:
dtc_cv.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=0.09,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [ ]:
# DT was done to get best params for the RF algo but the data is fucked up so accuracy is not increasing...

In [ ]:
#Check the Y of data....it has first only 0s and then only 1s which is leading to class imbalance

In [ ]:
#The accuracy is shitty due to class imbalance
# chech using :
#from sklearn.metrics import classification_report
#print(classification_report(y_test,y_pred))